@charset "utf-8";

/*
 * aciTree jQuery Plugin
 * http://acoderinsights.ro
 *
*/

.aciTree {
    outline: none;
}
.aciTree.aciTreeLoad {
    background:url(../image/load-root.gif) center center no-repeat;
}
.aciTree .aciTreeUl {
    list-style:none;
    margin:0;
    padding:0;
    background:url(../image/tree.png) -128px 0 repeat-y;
}
.aciTree .aciTreeLi {
    display:block;
    overflow:visible;
    white-space:nowrap;
    margin-left:20px;
    background:url(../image/tree.png) -128px 0 repeat-y;
}
.aciTree>.aciTreeUl>.aciTreeLi {
    margin-left:0;
}
.aciTree>.aciTreeUl, .aciTree .aciTreeUl>.aciTreeLi:last-child>.aciTreeUl, .aciTree .aciTreeLi:last-child,
.aciTree.aciTreeNoBranches .aciTreeUl, .aciTree.aciTreeNoBranches .aciTreeLi {
    background:none;
}
.aciTree .aciTreeButton, .aciTree .aciTreeIcon, .aciTree .aciTreeItem, .aciTree .aciTreeText {
    display:inline-block;
    height:20px;
    line-height:20px;
    font-size:11px;
    vertical-align:top;
}
.aciTree .aciTreeItem {
    padding:0 2px 0 2px;
    margin:1px;
    height:auto;
    max-width:85%;
    white-space:normal;
    cursor:pointer;
}

.aciTree .aciTreeText {
     display:inline;
     height:auto;
}

/* item selection */

.aciTree .aciTreeSelected>.aciTreeItem {
    margin:0;
    background-color:#E8E8E8;
    border:1px dashed #D9D9D9;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.aciTree.aciTreeFocus .aciTreeSelected>.aciTreeItem {
    background-color:#d0e5fe;
    border:1px dashed #84acdd;
}

/* checkbox/radio tree */

.aciTree .aciTreeCheckbox label, .aciTree .aciTreeRadio label {
    cursor:pointer;
}
.aciTree .aciTreeCheckbox input[type=checkbox], .aciTree .aciTreeRadio input[type=radio] {
    margin:4px 4px 0 4px;
    padding:0;
    vertical-align:top;
}
.aciTree .aciTreeSelected .aciTreeCheckbox input[type=checkbox], .aciTree .aciTreeSelected .aciTreeRadio input[type=radio] {
    outline: none;
}
.aciTree .aciTreeCheckbox input[type=checkbox].aciTreeTristate {
    opacity:0.6;
}

/* default - item in the middle */

.aciTree .aciTreeButton {
    width:16px;
    background:url(../image/tree.png) 0 -20px no-repeat;
}
.aciTree.aciTreeNoBranches .aciTreeButton {
    background:url(../image/tree-no-branches.png) 0 -20px no-repeat;
}
.aciTree .aciTreeFolderMaybe>.aciTreeButton {
    background-position:-16px -20px;
}
.aciTree .aciTreeFolderMaybe>.aciTreeButton:hover {
    background-position:-32px -20px;
}
.aciTree .aciTreeFolder>.aciTreeButton {
    background-position:-48px -20px;
}
.aciTree .aciTreeFolder>.aciTreeButton:hover {
    background-position:-64px -20px;
}
.aciTree .aciTreeOpen>.aciTreeButton {
    background-position:-80px -20px;
}
.aciTree .aciTreeOpen>.aciTreeButton:hover {
    background-position:-96px -20px;
}

/* if it's the last item in list */

.aciTree .aciTreeLi:last-child>.aciTreeButton {
    background-position:0 -60px;
}
.aciTree .aciTreeFolderMaybe:last-child>.aciTreeButton {
    background-position:-16px -60px;
}
.aciTree .aciTreeFolderMaybe:last-child>.aciTreeButton:hover {
    background-position:-32px -60px;
}
.aciTree .aciTreeFolder:last-child>.aciTreeButton {
    background-position:-48px -60px;
}
.aciTree .aciTreeFolder:last-child>.aciTreeButton:hover {
    background-position:-64px -60px;
}
.aciTree .aciTreeOpen:last-child>.aciTreeButton {
    background-position:-80px -60px;
}
.aciTree .aciTreeOpen:last-child>.aciTreeButton:hover {
    background-position:-96px -60px;
}

/* loading indicator */

.aciTree .aciTreeButton>div {
    display:none;
    position:absolute;
    width:16px;
    height:16px;
    left:-4px;
    top:2px;
    background:url(../image/load-node.gif) 0 0 no-repeat;
}
.aciTree .aciTreeLoad>.aciTreeButton {
    position:relative;
    /* uncomment next line to hide the button while loading */
    /*background:none !important;*/
}
.aciTree .aciTreeLoad>.aciTreeButton>div {
    display:block;
}

/* tree item icon (do not show by default) */

.aciTree .aciTreeIcon {
    width:18px;
    background:url(../image/tree.png) 0 0 no-repeat;
}
.aciTree.aciTreeNoBranches .aciTreeIcon {
    background:url(../image/tree-no-branches.png) 0 0 no-repeat;
}

/* demo file/folder icon class */

.aciTree .aciTreeIcon.folder {
    background-position:-112px 0;
}
.aciTree .aciTreeLi:hover>.aciTreeItem>.aciTreeIcon.folder {
    /* comment next line to keep the same icon on hover */
    background-position:-112px -20px;
}
.aciTree .aciTreeIcon.file {
    background-position:-112px -40px;
}
.aciTree .aciTreeLi:hover>.aciTreeItem>.aciTreeIcon.file {
    /* comment next line to keep the same icon on hover */
    background-position:-112px -60px;
}
