
body {
    margin:0;
    padding:10px;
    color: #000;
}
body>div {
    margin-bottom:100px;
    overflow:auto;
}
body * {
    font-family:Verdana, Geneva, sans-serif;
    font-size:12px;
}
#tree {
    width:300px;
    height:400px;
    overflow:auto;
    padding:10px;
    border:1px solid #ccc;
    float:left;
    margin:0 20px 20px 0;
}
.aciTree>div {
    font-size:11px;
    line-height:20px;
}
.aciTree.selected {
    background-color:#FFE8FF;
}
.aciTreeItem.selected {
    background-color:#FFE8FF;
}
form {
    padding:0 10px 0 10px;
}
.form {
    width:770px;
    float:left;
    border:1px solid #ccc;
}
label {
    vertical-align:top;
}
.log {
    width:400px;
    height:400px;
    float:left;
    border:1px solid #ccc;
    margin:20px 0 0 20px;
    padding:10px;
    overflow-y: scroll;
}
